#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

export PREFIX = /usr
export DESTDIR = $(CURDIR)/debian/tmp

export CFLAGS := $(shell dpkg-buildflags --get CFLAGS)
export CPPFLAGS := $(shell dpkg-buildflags --get CPPFLAGS)
export LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS)

# Add CPPFLAGS TO CFLAGS since build system does not know about them.
CFLAGS += $(CPPFLAGS)

build: build-arch
build-arch: tests/pubsub tests/websocket

tests/% :
	$(MAKE) -C tests $*

%:
	dh $@

override_dh_strip:
	dh_strip --dbg-package=webdis-dbg

override_dh_auto_clean:
	$(MAKE) clean
	$(MAKE) -C tests clean

override_dh_auto_test:
ifneq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
	@echo "Skipping check (disabled in DEB_BUILD_OPTIONS)."
else
	$(CURDIR)/debian/test.sh $(MAKE) -f debian/rules webdis_test
endif

WEBDIS_PORT ?= 7379

webdis_test:
	python tests/basic.py
	python tests/limits.py
	./tests/pubsub -p $(WEBDIS_PORT)
	# This is a performance test that requires apache2-utils and curl, thus
	# disabled
	#./tests/bench.sh
